$link-hover: #cc005f;
$link-active: #920849;

.contact {
    &Text {
        font-size: 20px;
        min-width: 175px;
        display: inline-block;

        @media screen and (max-width: 767px) {
            font-size: 15px;
            min-width: 100px;
        }
    }

    &Link {
        font-size: 20px;
        text-decoration: none;
        color: $link-hover;

        &:hover {
            color: $link-active;
        }

        @media screen and (max-width: 767px) {
            font-size: 15px;
        }
    }
}
