$hello-world: #cc005f;

.container {
    width: 80%;
    max-height: 68vh;
    height: 65vh;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.helloWorld {
    color: $hello-world;
    text-transform: uppercase;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.title {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.071;
    font-size: 7vw;
    margin: 10px 0;
    font-weight: 500;
}

.subTitle {
    font-family: 'Lora', serif;
    font-size: 1.5vw;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 500;

    &:first-child::before {
        content: '|';
        display: inline-block;
        padding: 0 14px 0 8px;
        color: rgba(255, 255, 255, 0.3);
    }

    &::after {
        content: '|';
        text-align: center;
        display: inline-block;
        padding: 0 8px 0 14px;
        color: rgba(255, 255, 255, 0.3);
    }
}

.subTitleBlock {
    margin-top: 20px;
}

.linkBtn {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-size: 18px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        color: white;
        background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
        transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
        background: rgba(255, 255, 255, 0);
    }

    &:hover:before {
        bottom: 0%;
        top: auto;
        height: 100%;
    }
}

.arrow {
    margin-left: 15px;
    width: 20px;
    height: 20px
}
