$hello-world: #cc005f;

.container {
    width: 80%;
    max-height: 68vh;
    height: 65vh;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.helloWorld {
    color: $hello-world;
    text-transform: uppercase;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.title {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    line-height: 1.071;
    font-size: 7vw;
    margin: 10px 0;
    font-weight: 500;
}

.subTitle {
    font-family: "Lora", serif;
    font-size: 1.5vw;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FFFFFF;
    font-weight: 500;

    &:first-child::before {
        content: "|";
        display: inline-block;
        padding: 0 14px 0 8px;
        color: rgba(255, 255, 255, 0.3);
    }

    &::after {
        content: "|";
        text-align: center;
        display: inline-block;
        padding: 0 8px 0 14px;
        color: rgba(255, 255, 255, 0.3);
    }
}

.subTitleBlock {
    margin-top: 20px;
}

.linkBtn {
    height: 2vw;
    padding: 12px 25px;
    margin-top: 1vw;
    font-size: 1.3vw;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.arrow {
    margin-left: 15px;
    width: 1.2vw;
    height: 1.2vw;
}