body {
    margin: 0;
    padding: 0;
    background: url('./img/main.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    box-sizing: border-box;
}

/* Common style */

.background {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid #313131;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    border-color: #cc005f;
}

/* spinner */

.loaderBlock {
    width: 100%;
    height: 100vh;
    background: #00011c;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

@keyframes animation {
    0% {
        stroke-dasharray: 1 98;
        stroke-dashoffset: -105;
    }
    50% {
        stroke-dasharray: 80 10;
        stroke-dashoffset: -160;
    }
    100% {
        stroke-dasharray: 1 98;
        stroke-dashoffset: -300;
    }
}

.spinner {
    transform-origin: center;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
}

/* Scroll style */

.thumb {
    background-color: #cc005f;
    opacity: 0.7;
    border-radius: 50px;
}

/* Fonts */

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    src: url('./fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff2') format('woff2');
    src: url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lara';
    src: url('./fonts/Lora-Medium.woff2') format('woff2');
    src: url('./fonts/Lora-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
