.skills {
    width: 50%;
    display: flex;
    flex-flow: column;

    &List {
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        padding: 0;
        min-height: 400px;
    }

    &Title {
        text-align: center;
        margin: 27px 0 0 0;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;
    }
}
