.skills {
    width: 50%;
    display: flex;
    flex-flow: column;
    position: relative;

    &List {
        width: 100%;
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        padding: 0;
        min-height: 400px;

        @media screen and (max-width: 767px) {
            min-height: 260px;
            margin: 0;
            margin-bottom: 10px;
        }
    }

    &Title {
        text-align: center;
        margin: 27px 0 0 0;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;

        @media screen and (max-width: 550px) {
            font-size: 18px;
        }
    }

    &Enter {
        opacity: 0;

        &Active {
            opacity: 1;
            transition: opacity 300ms;
        }
    }

    &Exit {
        opacity: 1;

        &Active {
            transition: opacity 300ms;
            opacity: 0;
        }
    }

    @media screen and (max-width: 1024px) {
        width: 70%;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.tipsBtn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}
