.langBlock {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: flex;
    z-index: 11;
}

.langBtn {
    text-transform: uppercase;
    width: 60px;
    height: 35px;
    letter-spacing: 2px;
    font-size: .7vw;

    @media screen and (max-width: 1279px) {
        font-size: 12px;
    }
}