$black-grad-right: linear-gradient(
    90deg,
    rgba(22, 21, 21, 1) 0%,
    rgba(44, 46, 55, 1) 90%,
    rgba(41, 47, 54, 1) 100%
);
$black-grad-left: linear-gradient(
    90deg,
    rgba(41, 47, 54, 1) 0%,
    rgba(44, 46, 55, 1) 10%,
    rgba(22, 21, 21, 1) 100%
);
$shadow: #8a8a8a;
$link-main: #f8f2f4;
$link-hover: #cc005f;
$link-active: #920849;

.header {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 5px;

    &::before {
        content: '';
        width: 50%;
        height: 300px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: $black-grad-left;
        transform: translateY(4%) skewY(178deg);
        box-shadow: 100px 10px 25px $shadow;
    }

    &::after {
        content: '';
        width: 50%;
        height: 300px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $black-grad-right;
        transform: translateY(4%) skewY(-178deg);
        box-shadow: -100px 10px 25px $shadow;
    }

    @media screen and (max-width: 767px) {
        justify-content: space-evenly;
        padding-top: 0;
    }
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    flex-basis: 35%;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    padding: 0;

    @media screen and (max-width: 767px) {
        flex-flow: column;
    }
}

.item {
    padding: 0 10px;

    @media screen and (max-width: 767px) {
        padding: 0;
        margin: 5px 0;
    }
}

.logoLink {
    z-index: 1;
    margin: 0 80px;

    @media screen and (max-width: 767px) {
        margin: 5px 0;
        display: flex;
        align-items: center;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.logoPic {
    height: 60px;
    z-index: 1;

    @media screen and (max-width: 767px) {
        height: 40px;
        width: 40px;
    }
}

.link {
    color: $link-main;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.1px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease-in-out;
    display: block;
    text-align: center;

    &:hover {
        color: $link-hover;
    }

    @media screen and (max-width: 767px) {
        font-size: 15px;
    }
}

.active {
    color: $link-active;
}
